h1 {
    color: #ffffff;
    text-align: center;
}
h2 {
    color: #aaaaaa;
    text-align: center;
}
h3 {
    color: #cccccc;
    text-align: center;
}
h4 {
    color: #999999;
}
h5 {
    color: #00ff00;
}
h6 {
    color: #186e34;
}
body {
   display: flex; 
   font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
   background-color: #000000;
   background-image: url("mypfp.png");
   /*height: auto;
   width: auto;
   random text*/
   
}
em {
    color: #186e34;
}

summary {
    color: goldenrod;
}

button {
    display: flex;
    border-radius: 20px;
    color: #186e34;
    background-color: gold;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

li {
    color: #ffffff;
}

a {
    color: #ffffff
}

html
{
    scroll-behavior: smooth;
}

p {
    display: block;
  }
  