@font-face {
    font-family: 'MyCustomFont';
    src: url('../Munro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  html {
    background-image: url('../images/mindnightmainmenu.png');
    background-size: cover;
    background-attachment: fixed;
  }
  
  body {
    font-family: 'MyCustomFont', sans-serif;
    color: #ccc;
    background: url('../images/mindnightmainmenu.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .data-table th,
  .data-table td {
    border: 1px solid #555;
    padding: 8px;
    font-family: 'MyCustomFont', sans-serif;
  }
  
  .data-table th {
    font-weight: 700;
  }